/* Slide-in animation from right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(0); /* Move to its final position */
  }
}

/* Apply animation to cart container */
.cartContainer {
  position: sticky;
  top: 10%; /* Adjust as needed to control when the cart should stick */
  margin: 0px 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100%;
  /* Apply the slide-in animation */
  animation: slideInFromRight 0.5s ease-out; /* 0.5s duration, ease-out timing function */
}

.sharingOptionContainer {
  background-color: #fc8a06;
  display: flex;
  gap: 10px;
  padding: 20px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  align-items: center;
  justify-content: center;
}
.sharingOptionContainer p {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  margin: 0;
}

.sharingOptionContainer i {
  font-size: 24px;
}

.sharingOptionContainer button {
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  flex-grow: 1;
  cursor: pointer;
}
.cartTitle {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10% 0%;
  background-color: #028643;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  top: 0; /* Keep the title sticky at the top of the cart */
}

.cartItemsList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #00000011;
}

.cartItem {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
}

.cartItemName {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.cartItemPrice {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #028643;
}

.itemQuantityContainer {
  font-size: 24px;
  font-weight: 700;
  background-color: #fc8a06;
  padding: 10px;
  border-radius: 50%; /* Corrected to 50% for perfect circle */
  display: flex; /* To center content inside the circle */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  flex-grow: 1;
}

.itemQuantityContainer > h3 {
  margin: 0;
}

.cartItemDescription {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.cartItemRemoveButton {
  background-color: transparent;
  border: none;
}

.emptyCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.billingAmountsContainer {
  display: flex;
  flex-direction: column;
}

.billingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billingItem h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.billingItem h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  background-color: #fc8a06cc;
  padding: 10px 20px;
  align-items: center;
  color: white;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: 600;
}

.totalContainer > h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 25px;
}

.chooseFreeItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cfcfcf;
  background: transparent;
  padding: 10px 20px;
  border-radius: 50px;
}
.chooseFreeItems > h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.chooseFreeItems i {
  color: gray;
}

.applyCoupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cfcfcf;
  background: transparent;
  padding: 10px 20px;
  border-radius: 50px;
}

.applyCoupon > h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.applyCoupon i {
  color: green;
}

.scooterDelivery {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid #00000033;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.scooterDelivery i {
  color: green;
  font-size: 24px;
}

.scooterDelivery h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
}

.scooterDelivery p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  text-align: center;
}

.shopCollection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0.5;
}

.shopCollection i {
  color: green;
  font-size: 24px;
}

.shopCollection h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
}

.shopCollection p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  text-align: center;
}

.checkoutButtonContainer {
  background: #028643;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
}

.checkoutButtonContainer button {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: poppins;
}

.checkoutButtonContainer i {
  font-size: 24px;
  color: white;
}
