.mainContainer {
  display: flex;
  background-color: #fbfbfb;
  box-shadow: 5px 5px 14px 0px #00000040;
  margin: 20px;
  border-radius: 10px;
  color: #03081f;
  justify-content: space-between; /* Ensures content stays in line */
  align-items: flex-start;
  max-height: 750px;
  overflow: hidden; /* Prevents any overflow outside the container */
}

.operationalTimingsContainer {
  background-color: #03081f;
  color: white;
  padding: 50px 30px 150px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1; /* Allows this container to grow */
  max-width: 500px; /* Prevents it from becoming too wide */
}

.deliveryInfoContainer {
  flex-grow: 1; /* Allows this container to grow */
  padding: 50px 30px; /* Adjust padding for consistency */
  max-width: 500px; /* Prevents it from becoming too wide */
}

.contactInfoContainer {
  padding: 50px 30px;
  flex-shrink: 0; /* Prevents it from shrinking */
  max-width: 350px; /* Adjusts width to prevent overflowing */
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px; /* Adds some space between heading and content */
}

p {
  font-size: 16px;
  line-height: 28px; /* Adjusted for better readability */
  margin: 0;
  padding: 5px 0;
}

.contactInfoContainer p,
.operationalTimingsContainer p,
.deliveryInfoContainer p {
  font-size: 16px;
  line-height: 28px;
}

/* Style for links in Contact Information */
a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
