/* Container Layout */
.container {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid gray;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
}

.backIcon {
  font-size: 24px;
  cursor: pointer;
}

/* Main Content */
.mainContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-y: auto; /* Allow scroll when content exceeds the height */
  padding-bottom: 80px; /* Space for the footer */
}

/* Payment Options Section */
.paymentOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.optionCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
}

.optionCard:hover {
  border-color: #ffe8ce;
}

.selected {
  border-color: #ffe8ce;
}

.optionIcon {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  color: #fc8a06;
  background-color: #fffaf0;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.optionDetails h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.4px;
  flex: 1;
}

.optionDetails p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.radioButton {
  display: none;
}

.optionCard .bi-arrow-right {
  font-size: 24px;
  color: #007bff;
  margin-left: 10px;
}

.hrLine {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}

.walletBalance {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  color: #888;
}

/* Summary Box */
.summaryBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summaryBoxContainer {
  height: min-content;
  width: 30%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.summaryBox h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #83858a;
  margin: 0;
}
.addIcon {
  padding: 10px 15px;
  font-size: 20px;
  margin: 0;
}

.amount {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

.payButton {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #fc8a06;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payButton:hover {
  background-color: #ff9a30;
}

.radioButton {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

/* Mobile Footer Button Fixed */
.mobileProceedContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.mobileProceedContainer .payButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #fc8a06;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mobileProceedContainer .payButton:hover {
  background-color: #ff9a30;
}

.selectedTitle {
  font-size: 18px !important;
  font-weight: 400;
  line-height: 25.6px;
}

@media only screen and (max-width: 768px) {
  /* Ensure that the main content is scrollable and the footer remains fixed */
  .mainContent {
    flex-direction: column; /* Stack items vertically */
    height: calc(100vh - 80px); /* Full height minus space for the footer */
    padding-bottom: 80px; /* Make sure content doesn't get hidden by footer */
  }
  .container {
    padding: 10px;
  }

  .optionDetails h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
  }

  .chevron {
    color: #fc8a06;
  }
  .paymentOptions {
    width: 100%;
  }
  .mobileProceedContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .backIcon {
    background-color: #fc8a06;
    color: white;
    padding: 5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    justify-content: center;
  }
  .selected {
    border-color: #ffe8ce;
  }

  .selectedTitle {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 25.6px;
  }
  .addIcon {
    padding: 10px 15px;
    font-size: 20px;
    margin: 0;
  }

  .mobileProceedContainer > div > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
  .mobileProceedContainer > div > h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
  .mobileProceedContainer > .payButton {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
  }
}
